body {
  margin:0;
  font-family:Poppins;
  background:#0d0d0d;
  color:white;
}

/* Navbar */
.navbar {
  display:flex;
  justify-content:space-between;
  padding:15px 20px;
  background:#000;
  position:sticky;
  top:0;
}

.navbar h2 {
  color:gold;
}

.navbar a {
  color:white;
  margin-left:15px;
  text-decoration:none;
}

/* Hero */
.hero {
  text-align:center;
  padding:80px 20px;
  background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
  url('https://images.unsplash.com/photo-1589829545856-d10d557cf95f') center/cover;
}

.hero h1 {
  color:gold;
  font-size:32px;
}

/* Cards */
.card {
  margin:20px;
  padding:20px;
  background:#1a1a1a;
  border-radius:10px;
}

.card h2 {
  color:gold;
}

/* Image */
img {
  width:150px;
  border-radius:10px;
}

/* Button */
a {
  display:inline-block;
  margin-top:10px;
  background:gold;
  color:black;
  padding:8px 15px;
  border-radius:5px;
}

/* Floating WhatsApp */
.float {
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  padding:15px;
  border-radius:50%;
}

/* Footer */
footer {
  text-align:center;
  padding:10px;
  background:#000;
}
